.logo__img {
	padding-right: 5px;
}

.logo__title {
	color: $black-middle;
	font-family: "Work Sans", "Arial", sans-serif;
	font-size: 20px;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 1px;
}
