$black-pure: #000000;
$black-middle: #1F1E25;
$black-pure-op-25: rgba(0, 0, 0, 0.25);

$white-pure: #FFFFFF;
$white-middle: #F6F7FF;

$gray-middle: #E0E1EA;
$blue: #2C36F2;
$gray-blue: #707C87;

$gradient1-black: rgba(32, 39, 179, 0);
$gradient1-blue: #2027B3;

$gradient2-black: rgba(56, 65, 255, 0);
$gradient2-blue: #3841FF;

$border-gray: #C1C2CA;
$border-black: #1F1E25;
